:root {
    --image-size: 300px;
}

body {
    margin: 0;
    background-color: rgb(197, 197, 197);
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 12%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    background-color: rgb(31, 30, 30);
    color: white;
  }

  li a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

  li {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  li a.active {
    color: white;
  }
  
  li a:hover {
    background-color: #555;
    color: white;
  }

  .navbar-list {
    margin-top: 30px;
  }

  #artstation {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
  }

  #profilepic {
    width: 100px;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #belagyenes {
    font-size: 30px;
    text-align: center;
    margin: 0;
  }

  #description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    max-width: 150px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }

  #belagyenes-site {
    font-size: 80px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 0px;
    text-align: center;

  }

  #description-site {
    font-size: 30px;
    max-width: 750px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .box-container {
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.box-flex-line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/* Hover Thing */
.container {
    position: relative;
    width: var(--image-size);
    height: var(--image-size);
    margin-left: 10px;
    margin-right: 10px;
  }
  
.container img {
    width: var(--image-size);
    height: var(--image-size);
    object-fit: cover;
}

  .image {
    display: block;
    width: 100px;
    height: 100px;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--image-size);
    width: var(--image-size);
    opacity: 0;
    transition: .5s ease;
    background-color: black;
  }
  
  .container:hover .overlay {
    opacity: .5;
  }
  